<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="LogPath" value="C:\LogFiles\TestConsole\TestConsole.txt"></add>
  </appSettings>
  
  <log4net>
    <!-- Define output appenders -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--File Details/Layout Options-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
      </filter>
      <maximumFileSize value="500KB"/>
      <file type="log4net.Util.PatternString" value="%property{LogFileNameLocation}" />
      <appendToFile value="true"/>

      <rollingStyle value="Date"/>
      <datePattern value="_yyyy-MM-dd.\tx\t"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%date] [ThreadID:%thread] [%level] [%logger{2}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile"/>
    </root>

  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
